<%= form_for(contract, local: true) do |f| %>
  <div data-controller="contract">
    <%= f.hidden_field :contract_combo_id %>
    <%= f.hidden_field :client_id %>
    <%= f.hidden_field :category %>

    <% if contract.errors.any? %>
      <% contract.errors.full_messages.each do |message| %>
        <div class="notification is-warning">
          <%= message %>
        </div>
      <% end %>
    <% end %> 
    <div class="card card-custom gutter-b example example-compact">
      <div class="card-header">
        <h3 class="card-title">Novo Contrato</h3>
        <div class="card-toolbar">
          <div class="example-tools justify-content-center">
            <div class="radio-inline">
              <label class="radio radio-solid">
                <input type="radio" name="company" checked="checked" value="1">              
                <span></span>
                Contrato Density
              </label>
              <label class="radio radio-solid">
                <input type="radio" name="company" value="2">
                <span></span>
                Contrato Pronto
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">

        <!-- CLIENTE --> 
        <%= f.fields_for :client do |client_form| %>
          <%= render partial: "contracts/client_form", locals: { f: client_form}%>
        <% end %>
    
        <!-- DADOS DO CONTRATO -->
        <div class="separator separator-dashed my-10"></div>
        <p class="bg-primary text-white py-2 px-4">Dados do Contrato</p>

        <div class="form-group row">
          <div class="col-lg-2 col-md-2">
            <%= f.label :starts_at %>
            <div class="input-group">
              <%= f.text_field :starts_at, value: formatted_date(contract.starts_at), class: 'form-control',required: true %>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="dtStart.toggle()" type="button">
                    <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>        
          </div>
          <div class="col-lg-2 col-md-2">
            <%= f.label :ends_at %>>
            <div class="input-group">
              <%= f.text_field :ends_at, value: formatted_date(contract.ends_at), class: 'form-control', required: true %>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" (click)="dtFinish.toggle()" type="button">
                    <i class="fa fa-calendar"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-2">
            <%= f.label :revenues_at %>
            <%= f.number_field :revenues_at, class: 'form-control', required: true %>         
          </div>
          <div class="col-lg-2 col-md-2">
            <%= f.label :due_at %>
            <%= f.number_field :due_at, class: 'form-control', required: true %>        
          </div>
          <div class="col-lg-2 col-md-2">
            <%= f.label :forfeit %>
            <div class="input-group">
              <div class="input-group-append">
                <span class="input-group-text">
                  <i class="fa fa-dollar"></i>
                </span>
              </div>
              <%= f.text_field :forfeit, class: 'form-control form-control-solid',  required: true %>            
            </div>
          </div>
        </div>

        <!-- DESCONTOS -->
        <div class="separator separator-dashed my-10"></div>
        <p class="bg-primary text-white  py-2 px-4">Desconto</p>          
        <div id="discounts" class="col-md-12">            
          <%= f.fields_for :discounts do |discount_field| %>
            <%= render partial: "contracts/discount_fields",  locals: { f: discount_field} %>
          <% end %>

          <div class="form-group row">
            <div class="col-lg-12 col-md-12">
              <%= link_to_add_association('[Adicionar Desconto]',f, :discounts, class: 'btn btn-success btn-sm mr-3 pull-right') %>             
            </div>
          </div>       
        </div>

        <!-- ATENDIMENTO -->
        <div class="separator separator-dashed my-10"></div>
        <p class="bg-primary text-white  py-2 px-4">Atendimentos</p>
        <div id="attendances" class="col-md-12">
          <%= f.fields_for :attendances do |attendance_fields| %>
            <%= render partial: "contracts/attendance_fields", locals: { f: attendance_fields } %>
          <% end %>   

           <div class="form-group row">
            <div class="col-lg-12 col-md-12">
             <%= link_to_add_association('[Adicionar Atendimento]',f, :attendances,  class: 'btn btn-success btn-sm mr-3 pull-right') %>            
            </div>
          </div>
        </div>

        <% if params[:category] == "density" %>
          <h4 class="mt-2">Serviços Adicionais</h4>
          <div class="columns">
            <div class="column is-narrow">
              <div class="field">
                <%= f.label :parking, class: 'label' %>
                <div class="control">
                    <%= f.label :parking, value: true, class: 'custom-radio' do %>
                    <%= f.radio_button :parking, true %> <span>Sim</span>
                    <% end %>
                    <%= f.label :parking, value: false, class: 'custom-radio' do %>
                    <%= f.radio_button :parking, false %> <span>Não</span>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="field column is-narrow">
              <%= f.label :car_license_plate, class: 'label' %>
              <div class="control">
                <%= f.text_field :car_license_plate, class: 'input', autocomplete: "off" %>
              </div>
            </div>
            <div class="field column is-narrow">
              <%= f.label :parking_value, class: 'label' %>
              <div class="control">
                <%= f.text_field :parking_value, class: 'input is-amount', autocomplete: "off" %>
              </div>
            </div>
          </div>
        <% end %>
        <br />
      </div>
      <div class="card-footer">
        <div class="row">
          <div class="col-5"></div>
          <div class="col-7">
            <%= f.submit 'Salvar', class: 'btn btn-primary mr-2' %>
            <%= link_to 'Cancelar', :back, class: 'btn btn-secondary' %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>



