<% @contracts.each do |combo| %>
<div class="doctors">
  <div class="card card-info">
    <div class="card-content">
      <div class="columns columns-data">
        <div class="column is-two-quarters-tablet is-4-widescreen">
          <div class="name">
            <h4><%= combo.client.name %></h4>
          </div>
        </div>

        <div class="column is-hidden-tablet-only is-2-desktop">
          <i class="material-icons">calendar_today</i> Início <%= l(combo.starts_at) %>
        </div>

        <div class="column is-hidden-tablet-only is-2-desktop">
          <i class="material-icons">calendar_today</i> Término <%= l(combo.ends_at) %>
        </div>

        <div class="column is-one-quarter-tablet is-2-desktop">
          <i class="material-icons">room</i> <%= t('activerecord.models.office', count: combo.offices.count) %> <%= names_for(combo.offices) %>
        </div>

        <div class="column is-one-quarter-tablet is-2-desktop">
          <%= link_to 'Ver Contrato', combo_client_path(combo.client, combo.id, :pronto), class: "button is-primary is-outlined is-fullwidth is-small" %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

<%= paginate @contracts,  outer_window: 3  %>
<%= rel_next_prev_link_tags @contracts %>
