<%= content_for(:page){  @client.name } %>

<div class="tabs is-toggle is-fullwidth">
  <ul>
    <li class="<%= 'is-active' if params[:category] == 'density' %>">
      <%= link_to combo_client_path(@client, @combo, :density) do %>
        <span>Contrato Density</span>
      <% end %>
    </li>
    <li class="<%= 'is-active' if params[:category] == 'pronto' %>">
      <%= link_to combo_client_path( @client, @combo, :pronto) do %>
        <span>Contrato Pronto Consultórios</span>
      <% end %>
    </li>

  </ul>
</div>

<div class="columns is-centered resource">
  <div class="column">
    <div class="card">
      <div class="card-content is-3">
        <% if current_user.role == "admin" %>
          <%= render 'contracts/form/manager', contract: @contract %>
        <% else %>
          <%= render 'contracts/form/secretary', contract: @contract %>
        <% end %>
      </div>
    </div>
  </div>
</div>
